.flex-container{
    background-color: cadetblue;
    border: solid wheat;
    width: 350px;
    padding-bottom: 20px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    margin-bottom: 50px;
}
#nombre{
    color: rgba(233, 0, 0, 0.466);
    font-style: italic;
}
#thirdDiv{
    background-color: rgb(145, 1, 1);
    border-color: black;
    border-radius: 40px;
    border: 500px;
    height: 600px;
    width: 300px;
    color: rgb(255, 255, 255);
    padding: 15px 10px 30px;
    margin: auto;
    text-align: center;
    text-shadow: 3px 5px 5px gray;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    position: relative;
}
#sabores {
    padding: 0;
    list-style-type: none;
    margin: auto;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
#divClass{
    text-align: center;
}
.center{
    display: block;
    position: absolute;
    display: block;
    max-height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;

}
#napolitana{
 width:  80%;
 height: 35%;
}
#morron{
    margin-top: 90%;
 width: 80%;
 height: 35%;
}
#morronTexto{
    position: absolute;
    left: 0;
    right: 0;
    top: 52%;

}
body{
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left:auto;
    margin-right:auto;
}
